{% extends 'base.html' %}

{% block title %}About - Guitar Heaven{% endblock %}

{% block navbar %}
    {{ block.super }}
{% endblock navbar %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- About content-->
            <article>
                <!-- About header-->
                <header class="mb-4">
                    <!-- About title-->
                    <h1 class="fw-bolder mb-1">About Guitar Heaven</h1>
                </header>
                <!-- About content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">Guitar Heaven fue fundado con la pasión por la música y el amor por las guitarras. Nuestra misión es proporcionar a los entusiastas de la guitarra los mejores recursos, guías y tutoriales para ayudarles a mejorar sus habilidades y conocimientos.</p>
                    <p class="fs-5 mb-4">Ya seas principiante o un jugador experimentado, tenemos algo para todos. Nuestro equipo está formado por músicos experimentados y expertos en guitarra que están dedicados a compartir su experiencia y ayudar a otros a alcanzar sus objetivos musicales.</p>
                    <p class="fs-5 mb-4">Únete a nosotros en este viaje musical y sé parte de la comunidad de Guitar Heaven. Juntos, podemos crear música hermosa e inspirar a otros a seguir su pasión por la guitarra.</p>
                    <h2 class="fw-bolder mb-4 mt-5">Nuestros Valores</h2>
                    <p class="fs-5 mb-4">En Guitar Heaven, creemos en el poder de la música para unir a las personas y transformar vidas. Estamos comprometidos a proporcionar contenido de alta calidad y a fomentar una comunidad de apoyo e inclusiva para todos los amantes de la guitarra.</p>
                </section>
            </article>
        </div>
    </div>
</div>
{% endblock main %}
