{% extends "base.html" %}
{% load static %}

{% block title %}Edit - Guitar Heaven{% endblock %}

{% block navbar %}
{{ block.super }}
{% endblock navbar %}

{% block main %}
<div class="container mt-5">
    <h1 class="fw-bolder mb-4">Create a New Post</h1>
    <div class="card bg-dark">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <label for="id_title" class="form-label">Title</label>
                    {{ form.title }}
                </div>
                <div class="form-group mb-3">
                    <label for="id_content" class="form-label">Content</label>
                    {{ form.content }}
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}
