{% extends "base.html" %}
{% load static %}

{% block title %}Lista - Guitar Heaven{% endblock %}

{% block navbar %}
{{ block.super }}
{% endblock navbar %}

{% block main %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post list-->
            <h1 class="fw-bolder mb-4">Blog Posts</h1>
            {% if not request.user.is_authenticated %}
                <p>Para postear primero <a href="{% url 'login' %}">logueate</a>.</p>
            {% endif %}
            {% for post in posts %}
            <div class="card mb-4 bg-dark">
                <div class="card-body">
                    <!-- Avatar del autor del post -->
                    {% if post.author.datosextra.avatar %}
                        <img src="{{ post.author.datosextra.avatar.url }}" alt="Avatar" class="avatar">
                    {% else %}
                        <img src="{% static 'images/default_avatar.png' %}" class="avatar" alt="Default avatar">
                    {% endif %}
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text">{{ post.content|truncatewords:30 }}</p>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Leer Mas →</a>
                </div>
            </div>
            {% empty %}
            <p>No hay posts disponibles.</p>
            {% endfor %}
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Categories widget-->
            <div class="card mb-4 bg-dark">
                <div class="card-header">Categorias</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                <li><a class="text-white" href="{% url 'post_list' %}">Blog</a></li>
                                <li><a class="text-white" href="{% url 'post_new' %}">Nuevo post</a></li>
                                <li><a class="text-white" href="{% url 'crear_guitar' %}">Vota tu guitar</a></li>
                                <li><a class="text-white" href="{% url 'guitars' %}">Listado</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main %}
