{% extends "base.html" %}
{% load static %}

{% block title %}Registro - Guitar Heaven{% endblock %}

{% block navbar %}
{{ block.super }}
{% endblock navbar %}

{% block main %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card bg-dark">
                    <div class="card-header text-center">Register</div>
                    <div class="card-body">
                        <form action={% url "register" %} method="POST">
                            {% csrf_token %}
                        
                            {{formulario}}
                        
                            <input type="submit" value="Registrarse">
                        
                        </form>
                        <div class="mt-3 text-center">
                            <p>Already have an account? <a href="{% url 'login' %}" class="text-primary">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main %}
